/*
selector {
    property-name: value;
}
selector 는 태그,링크,문단,헤더,푸터 모든 태그이름 이 해당되며 
         id는 앞에 "#"을 붙이고 , class는 앞에 "."을 붙인다.
            h1{}
            #name{}
            .name{}
selector는 아래와 같이 여러개를 섞을 수 도 있음 
h1 .name{
}
*/
h1 {
    color: green;
    font-size: 10px;
}